@import url(./fonts.scss);

:root {
  --background: rgb(15 23 42);
  --color: rgb(148 163 184);
  --hover-title-color: rgb(94 234 212);
  --skills-area-color: rgb(19 78 74);
  --hover-item-color: rgba(148, 163, 184, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa";
  font-weight: 400;
  color: var(--color);
}

body {
  // background-image: url(../assets/images/2.avif);
  // background-size: 100% 100%;
  background: var(--background);
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.box {
  padding: 96px 96px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.header {
  width: 50%;
  position: sticky;
  top: 96px;

  &_title {
    font-weight: 700;
    font-size: 48px;
    color: #e2e8f0;
    margin-bottom: 20px;
  }

  &_nav__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 50px;
  }

  &_nav__link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 12px 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    &_text {
      font-size: 24px;
      font-weight: 700;
    }

    &:hover &_text {
      color: #e2e8f0;
      transition: cubic-bezier(0.17, 0.67, 0.83, 0.67);
      // transition: all 0.15s;
    }
    &:hover &_indicator {
      background-color: #e2e8f0;
      transition: all 0.15s;
      width: 4rem;
    }

    &_indicator {
      // display: inline-block;
      width: 2rem;
      height: 1px;
      background-color: rgb(71 85 105);
      margin-right: 1rem;
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 50%;
  &__item {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 70px;

    &_about {
      display: flex;
      flex-direction: column;
      gap: 20px;
      line-height: 24px;
      font-size: 20px;
      & span {
        color: #e2e8f0;
        font-weight: 500;
      }
    }

    &_proj {
      // max-width: 549px;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
      &:hover {
        background: var(--hover-item-color);
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0px -0.5px 1px 0px rgba(255, 255, 255, 0.5);
        transition: all 0.15s;
      }
      &:hover &_link {
        color: var(--hover-title-color);
      }
      &:hover svg {
        fill: var(--hover-title-color);
        transform: translate(7px, -7px);
        transition: all 0.3s;
      }
      &_content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        // background: inherit;
      }
      &_img {
        max-height: 100px;
      }
      &_link {
        color: white;
        font-weight: 700;
        display: flex;
        gap: 10px;
      }
      &_lang {
        display: flex;
        flex-direction: row;
        gap: 15px;
        list-style: none;
        flex-wrap: wrap;

        // background: inherit;
        &_el {
          color: var(--hover-title-color);
          font-size: 13px;
          background-color: rgba(45, 212, 191, 0.1);
          border-radius: 9999px;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
        }
      }
    }
    &_routing {
      display: inline-block;
      color: white;
      font-weight: 700;
      position: relative;
      img {
        margin-left: 10px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 85%;
        height: 0.8px;
        background-color: var(--hover-title-color);
        transform: scaleX(0);
        transition: transform 250ms all;
      }
      &:hover::after {
        transform: scaleX(1);
      }
      &:hover svg {
        transform: translate(7px);
        transition: all 0.3s;
      }
    }
    &_skill {
      &_name {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        padding-bottom: 10px;
        & p {
          color: white;
          font-size: 24px;
          font-weight: 700;
        }
        & img {
          max-width: 50px;
          width: 100%;
        }
      }
      &_bar {
        height: 24px;
        background: var(--skills-area-color);
        border-radius: 3px;
      }
      &_per {
        height: 24px;
        background: var(--hover-title-color);
        border-radius: 3px;
        position: relative;
        animation: fillBars 2.5s 1;
      }
      &_per::before {
        content: attr(per);
        position: absolute;
        padding: 4px 6px;
        background: var(--color);
        color: var(--background);
        border-radius: 4px;
        font-size: 12px;
        top: -30px;
        right: 0px;
        transform: translateX(50%);
      }
      &_per::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        background: var(--color);
        top: -13px;
        right: 0;
        transform: translateX(50%) rotate(45deg);
        border-radius: 1px;
      }
      @keyframes fillBars {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      &_branch {
        &_name {
          display: flex;
          flex-direction: row;
          gap: 20px;
          align-items: center;
          padding-bottom: 10px;
          margin-left: 30px;
          margin-top: 20px;
        }

        & img {
          max-width: 50px;
          width: 100%;
        }
        & p {
          color: white;
          font-size: 24px;
          font-weight: 700;
        }
        &_bar {
          height: 20px;
          background: var(--skills-area-color);
          border-radius: 3px;
          margin-left: 30px;
          margin-top: 15px;
        }
        &_per {
          height: 20px;
          background: var(--hover-title-color);
          border-radius: 3px;
          position: relative;
          animation: fillBars 2.5s 1;
        }
        &_per::before {
          content: attr(per);
          position: absolute;
          padding: 4px 6px;
          background: var(--color);
          color: var(--background);
          border-radius: 4px;
          font-size: 12px;
          top: -30px;
          right: 0px;
          transform: translateX(50%);
        }
        &_per::after {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          background: var(--color);
          top: -13px;
          right: 0;
          transform: translateX(50%) rotate(45deg);
          border-radius: 1px;
        }
        @keyframes fillBars {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
      }
    }
  }
}
.active {
  .header_nav__link {
    &_text {
      color: #e2e8f0;
      transition: cubic-bezier(0.17, 0.67, 0.83, 0.67);
      // transition: all 0.15s;
    }
    &_indicator {
      background-color: #e2e8f0;
      width: 4rem;
      transition: all 0.15s;
    }
  }
}
/***********Slider Start*************/
.slider {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  &__title {
    font-weight: 700px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    & span {
      display: inline-block;
      margin: 0 0.4em;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        border-top: 3px solid var(--color);
        margin-top: 0.6em;
      }
      &::before {
        margin-left: -6%;
      }
      &::after {
        margin-left: 2%;
      }
    }
  }
}

// .slick-current .card {
//   box-shadow: 0px -2px 3px 4px rgba(255, 255, 255, 0.5);
// }
.card {
  background: var(--hover-item-color);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px -2px 4px 2px rgba(255, 255, 255, 0.5);
  width: 100%;
  transition: all 0.15s;
  // height: 400px;

  // &__top {

  //   // display: flex;
  //   // justify-content: center;
  // }
  &__top img {
    // padding-top: 200px;
    // margin-top: 15px;
    width: 100%;
    // height: 200px;
  }
  &__bottom {
    margin: 30px 10px 10px 10px;
    // padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // justify-content: space-between;
    &_lang {
      width: 100px;
      text-align: center;
      color: var(--hover-title-color);
      font-size: 13px;
      background-color: rgba(45, 212, 191, 0.1);
      border-radius: 9999px;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      margin-bottom: 15px;
    }
    &_box {
      padding-bottom: auto;
      height: 150px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &_lang {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  &__bottom h2 {
    color: white;
    text-transform: uppercase;
  }
  &__bottom a {
    text-decoration: underline;
  }
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
/***********Slider End*************/
